@import url('https://fonts.googleapis.com/css?family=Share+Tech|Varela+Round|Open+Sans:800&display=swap');

* {
    box-sizing: border-box;
    transition-duration: 250ms;
    scroll-behavior: smooth;
}

/* COLORS AND FONTS */

.darkBG {
    background-color: #1C1F24;
}

.purpleBG {
    background-color: #4b0082;
}

.offWhiteBG {
    background-color: #FDFDFD;
}

.varela {
    font-family: 'Varela Round', sans-serif;
}

.whiteText {
    color: white;
}

.fullWidth {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
}

.top {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    background-image: linear-gradient(to top, #4b0082, #520689, #580c90, #5f1298, #66189f);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom center;
    color: #e3e3e1;
    height: 100vh;
    overflow: hidden;
}



.itsMe {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    margin: 5px 5px 100px 5px;
    padding: 0px 5px;
    justify-content: space-around;
    max-width: 1024px;
    padding: 50px 0 0 0;
}

.portfolio {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.portfolio p {
    margin: 2px;
    opacity: 0.9;
}

.portfolioInner {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}



.portfolioLeft {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;


}

.portfolioRight {
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}

.portfolioRight h2 {
    font-family: 'Open Sans', sans-serif;
    margin-top: 12px;
    margin-bottom: 12px;

}

.portfolioArrow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10px;
}

.portfolioArrow img {
    opacity: 0.5;
}

.portfolioArrow img:hover {
    opacity: 0.7;
}

.portfolioSiteImg {
    width: 350px;
    height: 315px;
    margin: 10px;
    transform: perspective(1000px) rotateY(10deg); 
}

.portfolioSiteImg:hover {
    margin: 10px;
    transform: perspective(1000px) rotateY(2deg);
}

.portfolioSiteImg img {
    width: 100%;
    box-shadow: -5px -5px 10px #5f1298;
    padding: 0px;
}

.portfolioSiteImg img:hover {
    box-shadow: -2px -2px 5px #5f1298;
}

#portfolioButtonContainer {
    margin-bottom: 12px;
}

.portfolioButton {
    border-radius: 3px;
    background-color: red;
    color: white;
    margin: 5px; 
    padding: 5px;
    border: none;
    box-shadow: 5px 5px black;
    font-size: 1.25rem;


}

.builtWithContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.builtWith {
    font-size: 1rem;
    background-color: orangered;
    border: 1px solid black;
    box-shadow: 3px 3px black;
    padding: 5px;
    margin: 5px;
    color: white;
    border-radius: 2px;
}

.builtWith:hover {
    background-color: #ff4500;
    box-shadow: 4px 4px black;
    transform: translate(-1px, -1px);
}


.itsMeInner {
    display: flex;
    flex-direction: column;
    width: 475px;
    margin: 5px;
    padding: 5px;
    font-family: 'Varela Round', sans-serif;
    color: white;
    font-size: 2rem;
    justify-content: center;

}

.itsMeLinksContainer {
    display: flex;
    flex-direction: row;
}

.itsMeLinksContainer img {
    margin: 5px;
    width: 40px;
    height: 40px;
    opacity: 0.5;
}

.itsMeLinksContainer img:hover {
    opacity: 0.7;
}

.itsMeInner h2 {
    font-size: 8rem;
    margin: 0px;
    padding: 0px;
}

.itMeInner p {
    margin: 0px;
}

#me {
 width: 100%;
}


.wrapper {
    width: 100%;
    max-width: 1024px;
    padding: 0 5%;
}

.center {
    text-align: center;
}

.waveDown {
    background-image: url("img/topWave.svg");
    background-position:  center;
    background-size: cover;
    background-repeat: no-repeat;
}

.padding {
    padding: 50px 0 50px 0;
}

.paddingBottom {
    padding: 0 0 50px 0;
}

.paddingHeader {
    padding: 0 5%;
    height: 75px;
    opacity: .9;
}

.paddingHeader h2{
    font-size: 2.5rem;
}

.technology {
    font-size: 4.5rem;
    display: inline-block;
    margin: 10px;
    color: grey;
    padding: 5px;
    opacity: 0.8;
    font-family: 'Share Tech', sans-serif;

}

.technology:hover {
    box-shadow: 5px 5px #888888;
}


header {
    color: #FDFDFD;
    padding: 10px 1% 10px 1%;
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: nowrap;
    max-width: 1024px;
    align-items: flex-end;
}

.experience {
    font-size: 1.5rem;
    color: #FDFDFD;
    font-family: 'Varela Round', sans-serif;
    opacity: 0.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.experience a:link, a:visited {
    text-decoration: none;
    color: white;
}

.experience:hover {
    opacity: 0.7;
    text-decoration: none;
    color: #FDFDFD;
}




header h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 4rem;
    margin: 0;
    display: inline-block;  
}


nav {
    margin-left: auto;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    align-content: flex-end;
}

nav li {
    margin: 0 0 0 9px;
    font-family: 'Varela Round', sans-serif;
    font-size: 1.25rem;
}

nav li a:link {
    color: #FDFDFD;
    text-decoration: none;
}

nav li a:visited {
    color: #FDFDFD;
    text-decoration: none;
}

nav li a:hover {
    color: white;
    text-decoration: none;
    border-bottom: 2px dashed red;
    
}

.aboutMeContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    padding: 10px;
}

.aboutMeImg {
    width: 500px;
    padding: 5px;
}

.aboutMeImg img {
    width: 100%;
}

.AboutMeText {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: 'Varela Round', sans-serif;
    font-size: 1.25rem;
    color: black;
    text-align: center;
    background-color: blue;
    padding: 5px;


}

footer {
    padding: 75px 0 50px 0;
    background-image: url("img/footer_background.png");
    background-repeat: no-repeat;
    background-size: contain;
}

footer a:link, a:visited {
    text-decoration: none;
    opacity: .7;
    color: white;
} 

footer a:hover, a:active {
    text-decoration: none;
    opacity: .9;
    color: white;
} 

.footerWrapper {
    width: 100%;
    max-width: 1024px;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.footerDivider {
    display: flex;
    flex-direction: column;
    flex-basis: 23%;
    margin: 5px;
    padding: 5px 5px 5px 2%;
}

.footerDivider h3{
    margin: 0 0 6px 0;
    font-size: 1.5rem
}

.footerDivider ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footerDivider ul li {
    padding: 2px 5px 3px 0px;
}

.copyright {
    padding: 10px 50px;
    opacity: .7;
}


@media screen and (max-width:1040px) {
    .itsMe {
        margin: 5px 5px 50px 5px;
        padding: 25px 10px 0 10px;
    }
    
    .itsMeInner {
        width: 400px;
        margin: 5px;
        padding: 5px;
        font-size: 1.75rem;
    
    }
    
    .itsMeInner h2 {
        font-size: 6rem;
        margin: 0px;
        padding: 0px;
    }

    .technology {
        font-size: 4rem;
        margin: 5px;
        padding: 5px;
    
    }

    header {
        padding: 10px 2% 10px 2%;
        display: flex;
        flex-direction: row;
        width: 100%;
        flex-wrap: nowrap;
        align-items: flex-end;
    }

    #greatTools {
        display: none;
    }
}


@media screen and (max-width:860px) {
    .itsMe {
        margin: 0px 5px 50px 5px;
        padding: 10px 10px 0 10px;
    }
    
    .itsMeInner h2 {
        font-size: 5rem;
        margin: 0px;
        padding: 0px;
    }
    
    .itsMeInner {
        text-align: center;
        font-size: 1.5rem;
    
    }

    .itsMeLinksContainer {
        margin: auto;
    }

    header h1 {
        font-family: 'Open Sans', sans-serif;
        font-size: 3rem;
        margin: 0;
        display: inline-block;
    }

    nav {
        display: none;
    }

    .technology {
        font-size: 3rem;
        margin: 3px;
        padding: 3px;
    
    }

    header {
        padding: 5px 3% 10px 2%;
        display: flex;
        flex-direction: row;
        width: 100%;
        flex-wrap: nowrap;
        align-items: flex-end;
    }

    .portfolioInner {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .portfolioLeft {
        align-items:center;
    }

    .portfolioRight {
        align-items: center;
    }

    #portfolioInfoContainer {
        text-align: center;
    }

    .builtWithContainer {
        justify-content: center;
        margin-bottom: 30px;
    }

    .portfolioRight h2 {
        font-family: 'Open Sans', sans-serif;
        margin-top: 12px;
        margin-bottom: 12px;
    
    }

    #builtWith {
        margin-top: 25px;
    }

    .portfolioArrow {
        justify-content: flex-start;
        padding: 150px 10px 0 10px;
    }

}

@media screen and (max-width:580px) {
    .itsMe {
        margin: 0px 5px 50px 5px;
        padding: 10px 10px 0 10px;
    }
    
    .itsMeInner h2 {
        font-size: 5rem;
        margin: 0px;
        padding: 0px;
    }
    
    .itsMeInner {
        text-align: center;
        font-size: 1.5rem;
    
    }

    .itsMeLinksContainer {
        margin: auto;
    }

    header h1 {
        font-family: 'Open Sans', sans-serif;
        font-size: 3rem;
        margin: 0;
        display: inline-block;
    }

    nav {
        display: none;
    }

    .technology {
        font-size: 3rem;
        margin: 3px;
        padding: 3px;
    
    }

    header {
        padding: 5px 3% 10px 2%;
        display: flex;
        flex-direction: row;
        width: 100%;
        flex-wrap: nowrap;
        align-items: flex-end;
    }

    .portfolioInner {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .portfolioLeft {
        align-items:center;
    }

    .portfolioRight {
        align-items: center;
    }

    #portfolioInfoContainer {
        text-align: center;
    }

    .builtWithContainer {
        justify-content: center;
        margin-bottom: 30px;
    }

    .portfolioRight h2 {
        font-family: 'Open Sans', sans-serif;
        margin-top: 12px;
        margin-bottom: 12px;
    
    }

    #builtWith {
        margin-top: 25px;
    }

    .portfolioArrow {
        justify-content: flex-start;
        padding: 110px 5px 0 5px;
    }

    .portfolioSiteImg {
        width: 275px;
        height: 248px;
        margin: 10px;
        transform: perspective(1000px) rotateY(10deg); 
    }
    

}

